.main-footer {
  padding-top: 152px;
  padding-bottom: 96px;

  text-align: center;

  overflow-x: hidden;

  @media (max-width: $width-tablet-only) {
    padding-top: 70px;
    padding-bottom: 52px;
  }

  @media (max-width: $width-mobile-only) {
    position: relative;
  }
}

.main-footer h2 {
  margin: 0;
  padding: 0;
  padding-right: 11px;

  color: $text-dark-color;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.005em;

  @media (max-width: $width-tablet-only) {
    padding: 0;

    font-size: 24px;
  }

  @media (max-width: $width-mobile-only) {
    font-size: 18px;
  }
}

.main-footer p {
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  padding-right: 16px;
  max-width: 555px;

  color: $text-light-grey-color;
  font-size: 17px;
  line-height: 31px;

  @media (max-width: $width-tablet-only) {
    margin-top: 20px;
    padding: 0;
    max-width: none;
  }

  @media (max-width: $width-mobile-only) {
    padding: 0 10px;
  }
}

.main-footer img {
  display: block;
  margin: 0 auto;
  margin-top: 39px;
  width: 957px;
  height: auto;

  @media (max-width: $width-tablet-only) {
    margin-top: 20px;
    width: 698px;
    height: 545px;
  }

  @media (max-width: $width-mobile-only) {
    position: relative;
    left: -15px;

    margin-top: 19px;
    padding: 0;
    width: 100vw;
    height: 250px;
    max-width: none;

    object-fit: cover;
  }
}

.main-footer__contacts-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  list-style: none;

  @media (max-width: $width-tablet-only) {
    margin-top: 11px;
  }

  @media (max-width: $width-mobile-only) {
    flex-direction: column;
    margin-top: 21px;
  }
}

.main-footer__contact {
  &:not(:first-child) {
    margin-left: 95px;
    margin-right: 21px;

    @media (max-width: $width-mobile-only) {
      margin: 0;
      margin-top: 10px;
    }
  }
}

.main-footer__contact a {
  color: $text-middle-grey-color;
  font-size: 16px;
  line-height: 32px;

  @media (max-width: $width-tablet-only) {
    line-height: 22px;
  }

  @media (max-width: $width-mobile-only) {
    line-height: 32px;
  }
}

.main-footer__contact svg {
  position: relative;
  top: 7px;

  margin-right: 7px;

  fill: none;
}
