.page {
  height: 100%;
}

.page__body {
  position: relative;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  overflow-x: hidden;
}

.page__body::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 825px;

  content: "";

  background-color: $basic-dark-color;
  background-image: url("../img/cover-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/cover-desktop@2x.jpg");
  }

  @media (max-width: $width-tablet-only) {
    height: 340px;

    background-image: none;
  }

  @media (max-width: $width-mobile-only) {
    height: 390px;
  }
}
