/* Fonts */

$main-font-stack: "Open Sans", "Arial", sans-serif;

/* Colors */

$basic-black-color: #000000;
$basic-dark-color: #1a1a1a;
$basic-grey-color: #c9ccd4;
$basic-dark-grey-color: #48494d;
$basic-cyan-color: #0ad9c6;
$basic-light-color: #f6f6f6;
$basic-white-color: #ffffff;

$text-input-black-color: #1c1c1c;
$text-dark-color: #1f1f1f;
$text-light-grey-color: rgba(0, 0, 0, 0.7);
$text-middle-grey-color: rgba(0, 0, 0, 0.5);

/* Layouts */

$max-container-desktop: 1136px;

$width-tablet-only: 1023px;
$width-mobile-only: 767px;
$width-mobile: 320px;
