body {
  margin: 0;
  padding: 0;
  min-width: $width-mobile;

  font-family: $main-font-stack;
  color: $basic-black-color;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  font-style: normal;

  background-color: $basic-white-color;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: $max-container-desktop;

  @media (max-width: $width-tablet-only) {
    padding: 0 14px;
  }

  @media (max-width: $width-mobile-only) {
    padding: 0 15px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
